@import url('https://fonts.googleapis.com/css?family=Goblin+One|M+PLUS+Rounded+1c');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F0F4EF;
}

nav a {
    text-align: center;
    color: #4D7EA8;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

#logo_link {
    padding-top: 5px;
}

.home-title {
    color: #4D7EA8;
    font-family: "Goblin One", "Georgia", "Garamond";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #4D7EA8;
}

.button-box {
    text-align: center;
    background-color: #4D7EA8;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #F0F4EF;
}


body {
    background-color:rgba(248, 255, 202, 0.15);
    font-family: "M Plus Rounded 1c", "Trebuchet MS", "Tahoma";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #F0F4EF;
}

nav {
    background-color: #272932;
}

nav a:hover {
    background-color: #F0F4EF;
    color: #4D7EA8;
}

.book, .join {
    background-color: #F0F4EF;
    color: #4D7EA8;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top:  50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #F0F4EF;
    color: #4D7EA8;
}

#background {
    background-color: #F0F4EF;
}

.msg{
    background-color: #F0F4EF;
    line-height: 1.5em;
    padding: 35px
}

.msg h2 {
    color: #4D7EA8;
    font-family: 'Goblin-One';
    margin: 0;
}

msg p {
    color: #4D7EA8;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #272932;
    color: #4D7EA8;
    font-size: 1.3em;
    padding: 25px 50px
}

footer .social img {
    padding-top: 15px
}

.rivers-card, .camping-card, .rapids-card {
    margin:200px 0
}

footer a{
    color: #4D7EA8;
    text-decoration: none;
}

footer a:hover{
    color: #4D7EA8;
}

footer p a:hover{
    color: #4D7EA8;
    text-decoration: underline;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.card-img {
    border: 10px solid #272932
}