@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&family=Schoolbell&display=swap');
/*
a:link {
    color: rgb(0, 255, 170);
}

a:visited {
    color: rgb(0, 101, 67);
}

*/

* {
    background-color: #ffa69a;
    padding-left: 1%;
    padding-right: 1%;
}

header {
    padding: 5%;
    text-align: center;
}

#title {
    background-color: #ff8479;
    padding: 5%;
    color: #2D2D2A;
    font-family: "Schoolbell";
    font-size: 60px;
}

nav a {
    font-size: xx-large;
    font-family: "Schoolbell";
    text-align: center;
    color: #fdfae7;
    text-decoration: none;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5px;
}

nav a:hover {
    background-color: #fcbcb8;
}

.introduction {
    font-family: "Playpen Sans";
    color: #2D2D2A;
    font-weight: 1000;
    text-indent: 7%;
}

footer {
    text-align: center;
    padding-top: 5%;
    font-family: "Schoolbell";
    color: #2D2D2A;
    font-weight: 550;
    font-size: smaller;
    width: 100%;
}

.prompt {
    font-family: "Playpen Sans";
    color: #2D2D2A;
    font-weight: 1000;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
    background-color: #ff8479;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tips-and-tricks-main {
    display: grid;
    grid-template-columns: 60% 40%;
}

#tips-and-tricks {
    font-family: "Playpen Sans";
    color: #2D2D2A;
    font-weight: 1000;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
    padding-top: 2px;
    padding-bottom: 5px;
}

#external-links {
    font-family: "Playpen Sans";
    color: #2D2D2A;
    font-weight: 1000;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#link {
    display: grid;
    margin: 0 auto;
    color: #fdfae7;
    background-color: #ff8479;
    text-align: center;
}

#title-banner {
    display: grid;
    margin: 0 auto;
    
}